---
- name: Ensure Homepage config directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user_name }}/app/homepage_config"
    state: directory
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0755'

- name: Create Homepage services configuration
  ansible.builtin.template:
    src: ../../../../docker/homepage_config/services.yaml
    dest: "/home/{{ ansible_user_name }}/app/homepage_config/services.yaml"
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0644'

- name: Create Homepage settings configuration
  ansible.builtin.template:
    src: ../../../../docker/homepage_config/settings.yaml
    dest: "/home/{{ ansible_user_name }}/app/homepage_config/settings.yaml"
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0644'