---
- name: Configure Homelab Server
  hosts: homelab_servers
  become: yes


  tasks:
    - name: Update apt package cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600 # Update only if cache is older than 1 hour

    - name: Remove old docker packages
      ansible.builtin.apt:
        name:
          - docker
          - docker-engine
          - docker.io
          - containerd
          - runc
          - containerd.io
          - docker-ce
          - docker-ce-cli
          - docker-compose-plugin
        state: absent

    - name: Install dependencies for Docker
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - python3-pip
        state: present

    - name: Install Docker and Docker Compose
      ansible.builtin.apt:
        name:
          - docker.io
          - docker-compose
        state: present

    - name: Ensure floki is in the docker group
      ansible.builtin.user:
        name: "{{ ansible_user_name }}"
        groups: docker
        append: yes

    - name: Install essential packages
      ansible.builtin.apt:
        name:
          - git
          - htop
          - mc
        state: present
    
    - name: Ensure media directories exist
      ansible.builtin.file:
        path: "/home/{{ ansible_user_name }}/media/{{ item }}"
        state: directory
        owner: "{{ ansible_user_name }}"
        group: "{{ ansible_user_name }}"
        mode: '0755'
      loop:
        - movies
        - tvshows
